#box-inner {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0 !important
}

.progressbar {
    width: 100% !important;
    background: none !important;
	background-color: #f3f3f3 !important;
    border-radius: 20px;
    overflow: hidden;
}

#wrapper {
    background: none !important;
}

.clearfix {
    overflow: visible;
}

.box-inner {
    border: none;
}

#project-name {
    font-weight: normal;
    font-size: 18px !important;
    color: #1b2747 !important;
    border-color: #1b2747 !important;
}

#donate-button {
  background-image: none !important;
  position: static !important;
  padding: 0.625rem 2rem !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #e83e1b !important;
  border-radius: 24px !important;
  background-color: #e83e1b !important;
  transition-property: all !important;
  transition-duration: 200ms !important;
  transition-timing-function: ease !important;
  color: white !important;
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase;
  text-shadow: none !important;
  box-shadow: none  !important;
}

#donate-button:hover {
  transform: scale(1.05);
}

.progressbar-done {
    background: none;
    background-color: #e83e1b;
}

.progressbar-text-shadow {
    display: none;
}

.progressbar-text {
    font-size: 1rem;
    color: #1b2747;
    top: 12px !important;
}

#donation-goal {
    font-size: .875rem;
    color: #1b2747;
    top: 10px;
}