.progressbar {
	background-color: #f3f3f3 !important;
}

#project-name {
    font-weight: normal;
    font-size: 18px !important;
    color: #1b2747 !important;
}

#donate-button {
  position: static;
  padding: 0.625rem 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #e83e1b;
  border-radius: 24px;
  background-color: #e83e1b;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#donate-button:hover {
  transform: scale(1.05);
}

.progressbar-done {
    background-color: #e83e1b;
}

.progressbar-text-shadow {
    display: none;
}

.progressbar-text {
    font-size: 1rem;
    color: #1b2747;
}

#donation-goal {
    font-size: .875rem;
    color: #1b2747;
}