#box-inner {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0 !important;
}

.progressbar {
    background: none !important;
	background-color: #f3f3f3 !important;
    border-radius: 20px;
    width: 100% !important;
    overflow: hidden;
}

#wrapper {
    background: none;
}

.clearfix {
    overflow: visible;
}

.box-inner {
    border: none;
}

#project-name {
    display: none;
}

#donate-button {
  display: none;
}

.progressbar-done {
    background: none;
    background-color: #e83e1b;
}

.progressbar-text-shadow {
    display: none;
}

.progressbar-text {
    font-size: 1rem;
    color: #1b2747;
    top: 12px;
}

#donation-goal {
    display: none !important;
}